@import '../../constants/styles/sass-variables/breakpoints';
@import '../../constants/styles/sass-variables/colors';

body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li  {
  margin: 0.6rem 0;
  line-height: 1.6rem;
}

a, a:visited, li {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a,
a:visited {
  color: $pink; 
  text-decoration: none;
  font-weight: 700;
}

.App {
  color: $black;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  @media screen and (min-width: $tabletBreakpoint) {
      width: 80%;
  }
}


.white-content {
  background: $white;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

.variable {
  background: $lightGrey;
  color: $red;
  padding: 0.19rem 0.3rem;
}

.page-title {
  margin: 0 0 1rem  0;
}

.page-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  @media screen and (min-width: $tabletBreakpoint) {
    grid-template-columns: 180px 1fr;
  }
}