@import '../../constants/styles/sass-variables/breakpoints';
@import '../../constants/styles/sass-variables/colors';

$module: 'Navigation';

.#{$module} { 
    &-inner {
        height: 70px;
        display: grid;
        grid-template-columns: 200px 1fr;
        width: 90%;
        margin: 0 auto;
        @media screen and (min-width: $tabletBreakpoint) {
            width: 70%;
        }
    }

    a {
        display: flex;
        align-items: center;
    }

    &-resources {
        display: flex;
        justify-content: flex-end;

          a {
              margin-left: 1rem;
          }
    }
}