
$silver: #f1f3f4; //audio player
$purple: #1D034A; //footer, navigation, header
$ash: #E5ECF1; //background on pages

$black: #30393f; //base dark font color
$charcoal: #404345; //medium grey for input text (not placeholder)

$white: #FFF;
$skyBlue: #46b6f8;
$turquoise: #35c6ce;
$teak: #37464F;
$outline: rgba(34,36,38, .15);

$red: red;