
$ash: #E5ECF1;
$lightGrey: #f9f9f9;
$grey: rgb(159, 161, 167);
$black: #30393f;
$ashGrey: #2a2a33;
$white: #FFF;
$red: red;
$pink: #ba55bf;
$skyBlue: #46b6f8;
$turquoise: #8DD;
$teak: #37464F;
$outline: rgba(34,36,38, .15);
