@import '../../constants/styles/sass-variables/colors';

$module: 'CourseNavigation';

.#{$module} { 
    background: $white;
    height: min-content;
    min-height: 300px;
    border-radius: 4px;

    &-courseTitle {
        padding: 0.5rem 1rem;
        background: $ashGrey;
        color: $white;
    }

    &-chapterHeading {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    ul {
        margin: 0;
        padding: 0 0.5rem;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0.5rem;
        cursor: pointer;
        &:hover {
            background: $lightGrey;
        }
    }
}