@import '../../constants/styles/sass-variables/colors';

$module: 'Selenium';

.#{$module} { 
    background: $ash;
    img {
        margin-top: 1rem;
    }

    .page-title {
        display: grid;
        grid-template-columns: 180px 1fr;
        grid-column-gap: 10px;
    }

    &-content {
        display: grid;
        grid-template-columns: 180px 1fr;
        grid-column-gap: 10px;
    }
}