@import '../../constants/styles/sass-variables/colors';
@import '../../constants/styles/sass-variables/breakpoints';

$module: 'Resources';

.#{$module} { 
    background: $ash;

    ul {
        padding-inline-start: 20px;
    }

    li {
        margin: 1rem 0;
    }
}