@import '../../constants/styles/sass-variables/colors';
@import '../../constants/styles/sass-variables/breakpoints';

$module: 'PageNavigation';

.#{$module} { 
    background: $white;
    height: min-content;
    min-height: 300px;
    border-radius: 4px;
    display: none;
    @media screen and (min-width: $tabletBreakpoint) {
        display: block;
    }

    &-title {
        padding: 0.5rem 1rem;
        background: $ashGrey;
        color: $white;
    }

    &-chapterHeading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        margin: 0;
        padding: 0.5rem;
    }

    li {
        list-style: none;
        margin: 1rem 0;
        padding: 0.5rem;
        cursor: pointer;
        &:hover {
            background: $lightGrey;
        }
    }
}