.App {
  text-align: center;
  color: black;
  background: orange;
}

.main {
  min-height: 400px;
  background: palegreen;
}

#login {
  height: 40px;
  width: 100px;
  background: navy;
  color: white;
}